<div class="side_bar">
  <ul class="side_bar_menu">
    <li class="menu-item"><%= link_to "新規登録", "/" %></li>
    <div class="branch-line"></div>
    <div class="sub_menu">
      <%= link_to "To Do", new_todo_path %>
      <%= link_to "Project", new_project_path %>
    </div>
    <li><%= link_to "確認", "/" %></li>
    <li><%= link_to "レポート", "/" %></li>
  </ul>
</div>