<div class="project_new">
  <span class="bold-text">Project 新規登録</span>

  <div class="project_form">
    <div class="project_form_head">
      <div class="project_form_left">
        <%= form_with model: @project_step, url: projects_path, local: true, html: { class: "project_new_form" } do |f| %>

        <button id="test_button">タイトル</button>
        <div class="project_form_a">
          <%= f.label :name, "タイトル" %>
          <%= f.text_field :name, class: "project_name", id: "project_name"  %>
        </div>

        <div class="project_form_b">
          <%= f.label :user_ids, "プロジェクトメンバー" %>
          <div class="project_form_b_bottom">
            <div class="project_users_choice">
              <% User.all.each do |user| %>
                <div class="user_checkbox">
                  <%= f.check_box :user_ids, { multiple: true }, user.id, nil %>
                  <%= user.full_name %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="project_form_right">
        <div class="project_form_a">
          <%= f.label :description, "内容" %>
          <%= f.text_field :description, class: "project_form_description" %>
        </div>
      </div>
    </div>

    <div id="steps_container">
      <% (1..50).each do |step| %>
        <div class="step_block" id="step_<%= step %>" style="display: <%= step == 1 ? 'block' : 'none' %>;">
          <%= f.label :step_number, "Step #{step}", class: "bold-label" %>
          <%= f.hidden_field :step_number, value: step, class: "step_number_field", name: "project_step_form[step_number][]" %>
          <%= f.label :todo_ids, "To Doを選択" %>

          <div class="step_todos">
            <div class="todo-search">
              <input type="text" class="todo-search-input" data-step="<%= step %>" placeholder="ToDoを検索">
            </div>
            <button class="update-todo" data-step="<%= step %>">Todoを更新する</button>

            <div class=checkboxes>
              <% Todo.all.each do |todo| %>
                <div class="checkbox">
                <%= check_box_tag "project_step_form[todo_ids][#{step}][]", todo.id, false, id: "step_#{step}_todo_#{todo.id}", class: "step_todo_checkbox", data: { step: step } %>
                <%= label_tag "step_#{step}_todo_#{todo.id}", todo.title.truncate(10, omission: '...') %>
              </div>
            <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <button type="button" id="add_step_button">Add Step</button>
    <button type="button" id="delete_step_button">Delete Step</button>
    <button type="button" id="new_todo">New To Do</button>

    <div class="project_new_border"></div>

    <span>Stepプレビュー</span>
    
    <div class="project_form_preview" id="project_form_preview">
      <!-- 初期のStepプレビュー -->
      <div class="step_image" id="step_image_1">
        <%= image_tag "step_image", class:"step_preview_step_image"%>
        <div class="step_preview_step_number_1">Step 1</div>
        <div class="step_todo_titles_1" id="step_1_todo_titles"></div>
      </div>
    </div>

    <%= f.submit "登録する", class: "submit-button", id: "submit_button" %>
    <% end %>
  </div>

  <div class="confirm">
    <%= link_to "一覧を確認する", projects_path %>
  </div>
</div>

<div id="todo-popup" class="popup" style="display: none;">
  <div class="popup-content">
    <span class="close-popup">&times;</span>
    <h3>New To Do</h3>
    <form id="new-todo-form" action="/todos" method="post">
      <label for="todo-title">Title</label>
      <input type="text" id="todo-title" name="todo[title]" required>

      <label for="genre_id">種類</label>
      <select id="genre_id" name="todo[genre_id]" required>
        <% Genre.all.each do |genre| %>
          <option value="<%= genre.id %>"><%= genre.name %></option>
        <% end %>
      </select>

      <label for="todo-start_date">Start Date</label>
      <input type="date" id="todo-start_date" name="todo[start_date]" required>

      <label for="todo-dead_date">Dead Date</label>
      <input type="date" id="todo-dead_date" name="todo[dead_date]" required>

      <label for="todo-description">Description</label>
      <textarea id="todo-description" name="todo[content]"></textarea>


      <label for="todo-user_id">User</label>
      <select id="todo-user_id" name="room[user_ids][]" required>
        <option value="">Select User</option>
        <% User.all.each do |user| %>
          <option value="<%= user.id %>"><%= user.full_name %></option>
        <% end %>
      </select>

      <button type="submit">Save</button>
    </form>
  </div>
</div>
