<div class="project_new">
  <span class="bold-text">Project 新規登録</span>

  <div class="project_form">
    <div class="project_form_head">
      <div class="project_form_left">
        <%= form_with model: @project_step, url: projects_path, local: true do |f| %>

        <div class="project_form_a">
          <%= f.label :name, "タイトル" %>
          <%= f.text_field :name, class:"project_name" %>
        </div>

        <div class="project_form_b">
          <%= f.label :user_ids, "プロジェクトメンバー" %>
          <div class="project_form_b_bottom">
            <div class="project_users_choice">
              <% User.all.each do |user| %>
                <div class="checkbox">
                  <%= f.check_box :user_ids, { multiple: true }, user.id, nil %>
                  <%= user.full_name %>
                </div>
              <% end %>
            </div>
            <div class="project_users_choice_between">
            </div>
            <div class="project_users_choice_result">
            </div>
          </div>
        </div>
      </div>

      <div class="project_form_right">
        <div class="project_form_a">
          <%= f.label :description, "内容" %>
          <%= f.text_field :description, class:"project_description" %>
        </div>
      </div>
    </div>

      <div id="steps_container">
        <div class="step_block">
          <%= f.label :step_number, "Step 1" %>
          <%= f.hidden_field :step_number, value: 1, class: "step_number_field",name: "project_step_form[step_number][]" %>
          <%= f.label :todo_ids, "To Doを選択" %>
          <div class="step_todos">
            <% Todo.all.each do |todo| %>
              <div class="checkbox">
                <%= check_box_tag "project_step_form[todo_ids][1][]", todo.id, false, id: "step_1_todo_#{todo.id}" %>
                <%= label_tag "step_1_todo_#{todo.id}", todo.title %>
              </div>
            <% end %>
          </div>

          <%= f.label :step_number, "Step 2" %>
          <%= f.hidden_field :step_number, value: 2, class: "step_number_field", name: "project_step_form[step_number][]" %>
          <%= f.label :todo_ids, "To Doを選択" %>
          <div class="step_todos">
            <% Todo.all.each do |todo| %>
              <div class="checkbox">
                <%= check_box_tag "project_step_form[todo_ids][2][]", todo.id, false, id: "step_2_todo_#{todo.id}" %>
                <%= label_tag "step_2_todo_#{todo.id}", todo.title %>
              </div>
            <% end %>
          </div>
        </div>
        <script id="todos-data" type="application/json">
          <%= Todo.all.to_json(only: [:id, :title]) %>
        </script>

      </div>
      <button type="button" id="add_step_button">Add Step</button>
    </div>

    <div class="project_new_border">
    </div>

    <div class="project_form_preview">
      <span>Stepプレビュー</span>
    </div>

      <%= f.submit "登録する", class: "submit-button" %>
    </div>
    <%end%>
  </div>




  <div class="confirm">
    <%= link_to "一覧を確認する", projects_path %>
  </div>
</div>