<div class="main_view">
  <div class="main_view_projects">
    <span>■ アサインされているプロジェクト</span>

    <div class="main_view_project_list_box">
      <table border="1" cellspacing="0" cellpadding="10" class="project_table">
      <thead>
      <tr>
        <th class="project_title">タイトル</th>
        <th class="project_description">内容</th>
        <th class="project_member">メンバー</th>
        <th class="project_progress">進捗率</th>
      </tr>
      </thead>
      <tbody>
      <% @projects.each do |project| %>
        <tr>
          <td class="project_title"><%= link_to project.name, project_path(project.id) %></td>
          <td class="project_description"><%= link_to project.description, project_path(project.id) %></td>
          <td class="project_members">
            <%= project.users.map { |user| link_to user.full_name, project_path(project.id) }.join(" , ").html_safe %>
          </td>
          <td class="project_progress"></td>
        </tr>
      <% end %>
      </tbody>
      </table>
    </div>
  </div>

  <div class="main_view_border">
  </div>

  <div class="main_view_todos">
    <span>■ 本日までのTo Do</span>

    <div class="main_view_buttons">
      <button id="main_view_done_button">済登録</button>
      <button id="main_view_delete_button">削除する</button>
    </div>

    <div class="main_view_todo_list_box">
      <table border="1" cellspacing="0" cellpadding="10" class="todo_table">
      <thead>
      <tr>
        <th class="todo_checkbox">選択</th>
        <th class="todo_done">済</th>
        <th class="todo_title">タイトル</th>
        <th class="todo_content">内容</th>
        <th class="todo_deadline">締切日</th>
      </tr>
      </thead>
      <tbody>
      <% @todos.each do |todo| %>
        <tr class="<%= 'completed-todo' if todo.completed %>">
          <td class="todo_checkbox">
            <input type="checkbox" id="todo_<%= todo.id %>" name="todo_<%= todo.id %>">
          </td>
          <td class="todo_done"><%= todo.completed ? '済': '' %></th>
          <td class="todo_title"><%= link_to todo.title, todo_path(todo.id) %></td>
          <td class="todo_content"><%= link_to todo.content, todo_path(todo.id) %></td>
          <td class="todo_deadline small-text"><%= todo.dead_date %></td>
        </tr>
      <% end %>
      </tbody>
      </table>
    </div>

  </div>
</div>

