<div class="todo_new">
  <span class="bold-text">To Do 新規登録</span>
  <div class="todo_form">
    <%= form_with model: @todo, local: true do |f| %>

      <div class="form-row">
        <div class="form-group">
          <%= f.label :title, "タイトル" %>
          <%= f.text_area :title, class: "todo_title", id: "todo-title" %>
        </div>

        <div class="form-group">
        <%= f.label :genre, "種類" %>
        <%= f.collection_select(:genre_id, Genre.all , :id, :name, {}, {class:"select-box", id:"todo-genre"}) %>
        </div>

        <div class="form-group">
          <%= f.label :start_date, "開始日" %>
          <%= f.date_field :start_date, class: "date-field", placeholder: "開始日" %>
        </div>
        
        <div class="form-group">
          <%= f.label :dead_date, "締切日" %>
          <%= f.date_field :dead_date, class: "date-field", placeholder: "終了日" %>
        </div>

        <div class="form-group">
          <%= label_tag 'room[user_ids][]', "実行者選択" %>
          <select name="room[user_ids][]" class="user-select">
            <option value="">ユーザー</option>
            <% User.all.each do |user| %>
              <option value="<%= user.id %>"><%= user.full_name %></option>
            <% end %>
          </select>
        </div>
      </div>

      <div class="form-group-b">
        <%= f.label :content, "内容" %>
        <%= f.text_area :content, class: "form_todo_content", id: "todo-content" %>
      </div>

      <%= f.submit "登録する", class: "submit-button" %>
    <% end %>
  </div>
</div>